<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static  %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="theme-color" content="#33457f">
    <link rel="canonical" href="{{ HOME_URL }}{{ request.get_full_path }}"/>
    <!--    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>-->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block extra-css %}{% endblock %}
</head>
<body>
{% include 'mobilender/header.html' %}
<main>
    <div>
        <div>
            {% block contenido %}{% endblock %}
        </div>
    </div>
</main>
{% include 'mobilender/footer.html' %}
<!--<script src="{% static 'js/jquery-3.2.1.min.js' %} "></script>-->
<script src="{% static 'js/materialize.min.js' %} "></script>
<script src="{% static 'js/base.js' %} "></script>
{% block extra_js %}{% endblock %}
</body>
</html>