{% load static %}
<footer class="page-footer  indigo darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Mobilender Admin</h5>
                <p class="grey-text text-lighten-4">
<!--                    You can use rows and columns here to organize your footer content.-->
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Inicio</a></li>
                    <li><a class="grey-text text-lighten-3" href="/nuevo-pedido">Nuevo Pedido</a></li>
                    <li><a class="grey-text text-lighten-3" href="/swagger">Documentacion Swagger</a></li>
                    <!--                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            © {% now "Y" %} Copyright Text
<!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>